@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Source+Sans+3:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profil-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}


aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 13rem;
    height: 4rem;
}

aside .close {
    display: none;
}




/*---------- MAIN ----------> */

main .imgUpload {
    display: flex; 
    justify-content: center;
    margin-top: 13rem;
}

main .imgUpload table{
    background: var(--color-white);
    width: 70%;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    
}

main .imgUpload table span{
    font-size: 60px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}



main .imgUpload table td {
    display: grid; 
    justify-items: center;
    gap: 1rem;
}
/* Additional styles (optional) */
main .imgUpload table img {
    width: 42px;
    height: 42px;
    margin-top: 6rem;
    margin-bottom: 1rem;
}


main .imgUpload table:hover{
    
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

main .imgUpload table td h3{
    margin-top: 1.7rem;
}



main .imgUpload .buttonOne:hover {
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color:#2b3ea5;
}    

main .imgUpload .buttonTwo:hover {
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2); 
    background-color: #9c2626;
  }



main .imgUpload table .buttonOne,
main .imgUpload table .buttonTwo {
  flex: 1;
}

main .imgUpload table .button-container {
    display: flex;
    gap: 1rem;
  }

main .imgUpload table .buttonOne{
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}

main .imgUpload table .buttonTwo{
    appearance: button;
    backface-visibility: hidden;
    background-color: #ca3030;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(116, 54, 54, 0.1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
  }

  main .imgUpload .button-container{
    width: 400px;
  }



/* ============== RIGHT ============== */

.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button{
    display: none;
}

.right .theme-toggler{
    background: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active{
   background: var(--color-primary);
   color: white;
   border-radius: var(--border-radius-1);
}

.right .top .profil{
    display: flex;
    gap: 2rem;
    text-align: right;
}


/* ============== MEDIA QUERIES 1200px ============== */

@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 10rem;
    }

    aside .logo{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .right .top .theme-toggler{
        width: 4.4rem;
        position: absolute;
        left: 80%;
    }

    

}

/* ============== MEDIA QUERIES 768px ============== */

@media screen and (max-width: 768px){
    .container{
        width: 90%;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {  
        to{
            left: 0%;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
        padding-left: 1.7rem;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .info {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .info table{
        width: 100%;
        margin: 0;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler{
        width: 4.4rem;
        position: absolute;
        left: 90%;
    }

    .right .profil .inform{
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        left: 1rem;
        position: absolute;
    }

    .right .top button span {
        font-size: 2rem;
    }
} 